.form-content {
  background-color: #f5f6f7;
  display: block;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  margin-top: 30px;
}

.title {
  margin-top: 0px;
  text-align: center;
}

.box {
  display: flex;
}

.input-bar {
  padding: 3px;
  text-align: left;
  width: 80%;
  margin-right: 50px;
}

.submit-button {
  text-align: right;
}

.your-list-heading {
  display: flex;
  height: 32px;
  margin-top: 10px;
}

.your-list-title {
  display: flex;
  flex-grow: 1;
  margin: 0;
}

.list {
  margin-top: 10px;
  list-style-type: none;
  padding-left: 20px;
}

.list-item {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.task-name {
  flex-grow: 1;
}

.edit-button {
  font-size: 20px;
  margin-right: 10px;
}

.edit-box {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}

.edit-bar {
  display: flex;
  flex-grow: 1;
  padding-bottom: 3px;
  padding-top: 3px;
  height: 16px;
  margin-right: 213px;
}

.save-button {
  display: flex;
  font-size: 20px;
  margin-right: 10px;
}

.cancel-button {
  display: flex;
  font-size: 20px;
}

.remove-button {
  display: right;
  margin-right: 10px;
  font-size: 20px;
}

.submit-button,
.edit-button,
.remove-button,
.save-button,
.cancel-button,
.delete-all-tasks-button:hover {
  cursor: pointer;
}
